body {
    background-color: #f8f9fa;
}

.navbar .nav-link {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .nav-link:hover {
    color: #fdd835;
}

table th, table td {
    vertical-align: middle;
}
